/* Coolors Exported Palette - coolors.co/1b998b-2d3047-fffd82-ff9b71-e84855 */

$color1: #1b998b; //rgba(27, 153, 139, 100)
$color2: #2d3047; //rgba(45, 48, 71, 100)
$color3: #fffd82; //rgba(255, 253, 130, 100)
$color4: #ff9b71; //rgba(255, 155, 113, 100)
$color5: #e84855; //rgba(232, 72, 85, 100)