/* Coolors Exported Palette - coolors.co/3a3335-d81e5b-f0544f-fdf0d5-c6d8d3 */

$color1: #3a3335; //rgba(58, 51, 53, 100)
$color2: #d81e5b; //rgba(216, 30, 91, 100)
$color3: #f0544f; //rgba(240, 84, 79, 100)
$color4: #fdf0d5; //rgba(253, 240, 213, 100)
$color5: #c6d8d3; //rgba(198, 216, 211, 100)