/* Coolors Exported Palette - coolors.co/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

$color1: #2b2d42; //rgba(43, 45, 66, 100)
$color2: #8d99ae; //rgba(141, 153, 174, 100)
$color3: #edf2f4; //rgba(237, 242, 244, 100)
$color4: #ef233c; //rgba(239, 35, 60, 100)
$color5: #d90429; //rgba(217, 4, 41, 100)