/* Coolors Exported Palette - coolors.co/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 */

$color1: #22223b; //rgba(34, 34, 59, 100)
$color2: #4a4e69; //rgba(74, 78, 105, 100)
$color3: #9a8c98; //rgba(154, 140, 152, 100)
$color4: #c9ada7; //rgba(201, 173, 167, 100)
$color5: #f2e9e4; //rgba(242, 233, 228, 100)