/* Coolors Exported Palette - coolors.co/083d77-ebebd3-f4d35e-ee964b-f95738 */

$color1: #083d77; //rgba(8, 61, 119, 100)
$color2: #ebebd3; //rgba(235, 235, 211, 100)
$color3: #f4d35e; //rgba(244, 211, 94, 100)
$color4: #ee964b; //rgba(238, 150, 75, 100)
$color5: #f95738; //rgba(249, 87, 56, 100)