/* Coolors Exported Palette - coolors.co/ca054d-3b1c32-a4d4b4-ffcf9c-b96d40 */

$color1: #ca054d; //rgba(202, 5, 77, 100)
$color2: #3b1c32; //rgba(59, 28, 50, 100)
$color3: #a4d4b4; //rgba(164, 212, 180, 100)
$color4: #ffcf9c; //rgba(255, 207, 156, 100)
$color5: #b96d40; //rgba(185, 109, 64, 100)