/* Coolors Exported Palette - coolors.co/3772ff-f038ff-ef709d-e2ef70-70e4ef */

$color1: #3772ff; //rgba(55, 114, 255, 100)
$color2: #f038ff; //rgba(240, 56, 255, 100)
$color3: #ef709d; //rgba(239, 112, 157, 100)
$color4: #e2ef70; //rgba(226, 239, 112, 100)
$color5: #70e4ef; //rgba(112, 228, 239, 100)