/* Coolors Exported Palette - coolors.co/1be7ff-6eeb83-e4ff1a-e8aa14-ff5714 */

$color1: #1be7ff; //rgba(27, 231, 255, 100)
$color2: #6eeb83; //rgba(110, 235, 131, 100)
$color3: #e4ff1a; //rgba(228, 255, 26, 100)
$color4: #e8aa14; //rgba(232, 170, 20, 100)
$color5: #ff5714; //rgba(255, 87, 20, 100)