/* Coolors Exported Palette - coolors.co/ffb997-f67e7d-843b62-0b032d-74546a */

$color1: #ffb997; //rgba(255, 185, 151, 100)
$color2: #f67e7d; //rgba(246, 126, 125, 100)
$color3: #843b62; //rgba(132, 59, 98, 100)
$color4: #0b032d; //rgba(11, 3, 45, 100)
$color5: #74546a; //rgba(116, 84, 106, 100)