/* Coolors Exported Palette - coolors.co/06aed5-086788-f0c808-fff1d0-dd1c1a */

$color1: #06aed5; //rgba(6, 174, 213, 100)
$color2: #086788; //rgba(8, 103, 136, 100)
$color3: #f0c808; //rgba(240, 200, 8, 100)
$color4: #fff1d0; //rgba(255, 241, 208, 100)
$color5: #dd1c1a; //rgba(221, 28, 26, 100)